body{

background:#f8f9fa;

}

/* Flexbox */

.category-container{

display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;

}

.category{

background:#0d6efd;
color:white;
padding:15px 25px;
border-radius:8px;
font-weight:bold;

}

/* Grid */

.course-grid{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;

}

.card{

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

@media(max-width:992px){

.course-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.course-grid{

grid-template-columns:1fr;

}

}